@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.primaryBg {
  background-color: #28194c;
}
.btnBg {
  background-color: #ed00ff;
}
